.carousel-caption{
    top: 10%;
    bottom: auto;
}
.carousel-caption h1{
    font-size: 3vw;
}
.carousel-caption p{
    font-size: 2vw;
    margin-bottom: 1vw;
}
.btn-margin{
    margin-left: 35vw;
}